body {
    margin: 0;
    padding: 0;
}

/* Color Theme Swatches in Hex */
$Crown-of-the-real-king-on-a-black-background: #0D080B;
$Crown-of-the-real-king-on-a-black-background: #F28B0C;
$Crown-of-the-real-king-on-a-black-background: #59320F;
$Crown-of-the-real-king-on-a-black-background: #D99559;
$Crown-of-the-real-king-on-a-black-background: #F2CEAE;