@import "variables.scss";

.card-main-title {
    border-bottom: 2px solid $black;
    padding-top: 20px;
    margin-bottom: 5px;
}

.card {
    width: 300px;
    height: 200px;
    margin: 10px 20px 10px 0;
    transition: transform .2s;

    .card-title {
        font-size: 1.5rem;
    }

    input[type=checkbox] {
        opacity: 0;
    }

    input[type=checkbox]:checked+label {
        color: $orange;
    }

    input[type=checkbox]:disabled+label {
        color: $offwhite;
    }
}

.card:hover {
    transform: scale(1.1);
}

.cardButton {
    visibility: hidden;
    background-color: $orange;
    color: $black;
}

@media screen and (max-width: 425px) {
    .card {
        margin: 10px auto 10px auto;
    }

    .card-main-title {
        margin: 20px auto 10px auto;
    }

    .cardButton {
        visibility: hidden;
        background-color: $orange;
        color: $black;
    }
}