#tileContainer {
  top: 500px;
}

#tokenOne {
  position: absolute;
  height: 60px;
  width: 100px;
  color: $black;
  top: 120px;
  left: 20px;
}

#tokenTwo {
  position: absolute;
  height: 60px;
  width: 100px;
  top: 120px;
  left: 20px;
  filter: brightness(0) invert(1);

}

.tile {
  position: absolute;
  height: 100px;
  width: 100px;
  background: $orange;
  border: 1px solid $black;
}

.historyOne {
  position: absolute;
  left: 30%;
  top: 100px;
  width: 200px;
  background: #eee;
}

.historyTwo {
  position: absolute;
  left: 41%;
  top: 100px;
  width: 200px;
  background: #eee;
}

#rollButton {
  position: absolute;
  left: 58%;
  top: 100px;

  background-color: $orange;
  border: none;
  padding: 12px;
}

#canvas1 {
  position: absolute;
  height: 200px;
  width: 350px;
  top: 50%;
  left: 50%;
}