  .tileContainer {
    top: 500px;
  }

  .tile {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: $orange;
    border: 1px solid $black;
  }

  #token {
    position: absolute;
    top: 35px;
    left: 35px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
  }

  #rollButton,
  #rollLog,
  .row {
    position: absolute;
  }

  .rollContainer {
    left: 50%;
  }

  .rollHistory {
    top: 15%;
    left: 50%;
    width: 150px;
  }